@import url('https://fonts.googleapis.com/css?family=Poppins');

/* BASIC */
html {
  background-color: #17346a;
}
nav {
  position: inherit;
  top: 0;
  width: 100%;
  background-color: #33291a54;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 1px 0; /* Reduced padding */
}

body {
  padding-top: 5px; /* Adjusted padding to avoid content being hidden behind the nav */
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #efd6b6;
  height: 100vh;
  color: black;
  background-blend-mode: normal;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: #ad7d35;
  justify-content: center;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);

  z-index: -1;

  pointer-events: none;

}

a {
  color: #cdcdcd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
  /* background-color: #1F1F1F; */
}

/* General Button Styles */
button {
  background: linear-gradient(145deg, #372f858f, #873430a3);
  color: #eae3e3;
  padding: 8px 15px; /* Adjusted padding */
  border: 1px solid #979797;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px; /* Adjusted font size */
}

button:hover {
  background: linear-gradient(145deg, #a222a6, #e9a530);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 -3px 5px rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}

button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

/* Navigation Bar Styles */
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3px; /* Reduced gap */
  padding: 5px 0; /* Reduced padding */
}

.nav-bar li {
  list-style: none;
}

.nav-button {
  background: linear-gradient(145deg, #372f858f, #873430a3);
  color: #eae3e3;
  padding: 8px 15px; /* Reduced padding */
  border: 1px solid #979797;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 -2px 4px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease;
  text-align: center;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 12px; /* Reduced font size */
}

.nav-button:hover {
  background: linear-gradient(145deg, #a222a6, #e9a530);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 -3px 5px rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}

.nav-button.selected {
  background-color: #007bff;
  color: #fff;
  border: 2px solid #0056b3;
}

.nav-button:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Center the content horizontally */
  justify-content: center;
  /* Center the content vertically */
  text-align: center;
  /* Center the text */
  background-color: #FFF9C4;
  color: #000;
  border: 1px solid #FBC02D;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 800px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.show:hover {
  transform: translateY(-5px);
  /* Slight lift on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  /* Stronger shadow on hover */
}

.show-name {
  font-weight: bold;
  font-size: 1.5em;
  color: #FF5722;
  /* Dark for show names */
  margin-bottom: 10px;
}

.show-time,
.show-stage {
  display: block;
  color: #757575;
  margin-bottom: 8px;
}



.my-shows-timetable {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 20px;
  gap: 20px;
}

.whos-going {
  background-color: #FFC107;
  color: #000;
  border: 2px solid #FF5722;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  margin-bottom: 8px;
  display: block;
}

.whos-going:hover {
  background-color:linear-gradient(145deg, #a222a6, #e9a530);
  border-color: #FFC107;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  /* Ensure modal is on top */
}

.modal-content {
  background-color: #FFF9C4;
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
  color: #000;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
  color: #FF5722;
}

.attendees-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.attendee {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF59D;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
  text-align: center;
}

.attendee-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  cursor: pointer;
  /* border: 2px solid #FBC02D; */
}

.timetable {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 10px;
  margin: 20px 0;
  gap: 10px;
}

.stage {
  border: 1px solid #FF5722;
  padding: 10px;
  min-width: 150px;
  background-color: #FFF9C4;
  position: relative;
}

.stage h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #FF5722;
}

.stage-logo {
  display: block;
  margin: 0 auto 10px auto;
  width: 100px; /* Adjust the width as needed */
  height: auto;
}

.additional-attendees-count {
  font-size: 14px;
  color: #E0E0E0;
  margin-left: 5px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  background-color: #FFF9C4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#formContent {
  border-radius: 10px;
  background: #FFF59D;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #FFF9C4;
  border-top: 1px solid #FF5722;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

.profile-container img {
  margin-bottom: 20px;
}

.profile-container form div {
  margin-bottom: 15px;
}

.date-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.date-button {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 16px;
}

.date-button:hover {
  background-color: #f4f4f4;
}




h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: grid;
  margin: 40px 8px 10px 8px;
  color: #151313;
}
.show button {
  margin-top: 10px;
}

.attendees {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.attendees img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}







.caption {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}

/* button {
  background-color: #e9a530;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
} */






/* STRUCTURE */
.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #c78c55;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

#formFooter {
  background-color: #fad791;
  border-top: 1px solid #354551;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

/* TABS */
h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY */
input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #56baed;
  border: none;
  color: rgb(52, 42, 42);
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #39ace7;
}

input[type=button]:active,
input[type=submit]:active,
input[type=reset]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

input[type=text],
input[type=password],
input[type=email] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]::placeholder,
input[type=password]::placeholder,
input[type=email]::placeholder {
  color: #cccccc;
}

/* ANIMATIONS */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #a35111;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after {
  width: 100%;
}

/* OTHERS */
*:focus {
  outline: none;
}

#icon {
  width: 60%;
}

* {
  box-sizing: border-box;
}



.friends-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #64738edb;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 150px;
}

.friend-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#location-info {
  margin-top: 40px;
  text-align: center;
}

#location-details {
  font-size: 1.1em;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .my-shows-timetable {
    align-items: center;
  }
  .show {
    width: 90%;
  }
  .timetable {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .timetable {
    justify-content: flex-start;
  }

  .stage {
    min-width: 200px;
    width: auto;
  }
}

@media (min-width: 769px) {
  .timetable {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .stage {
    width: auto;
    min-width: 200px;
  }
}

.phone-number-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.phone-number-input {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.country-code {
  background-color: #f0f0f0;
  padding: 10px;
  border-right: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-weight: bold;
}

.phone-number-input {
  display: flex;
  align-items: center;
}

.country-code {
  margin-right: 5px;
}

.phone-number-prefix {
  color: gray;
  margin-right: 5px;
  visibility: hidden;
}

.phone-number {
  flex: 1;
  border: 1px solid #ced4da;
  padding: 5px;
  border-radius: 6px;
}

.form-group input:focus {
  box-shadow: none;
}

/* Custom Marker Styles */
.custom-marker {
  position: relative;
  width: 50px;
  height: 60px; /* Adjusted for the pin pointer */
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-marker .marker-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.custom-marker.green .marker-image {
  border: 3px solid green;
}
.custom-marker.yellow .marker-image {
  border: 3px solid yellow;
}
.custom-marker.red .marker-image {
  border: 3px solid red;
}
.custom-marker.blue .marker-image {
  border: 3px solid blue;
}
.custom-marker.pink .marker-image {
  border: 3px solid pink;
}
.custom-marker::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
}

/* Attendees */
.attendees {
  display: flex;
  flex-wrap: wrap;
}
.attendee-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 2px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.navigate-button {
  display: block;
  margin-top: 10px;
  padding: 4px 8px; /* Decreased padding for a smaller button */
  background-color: #4CAF50;
  color: white;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 10px; /* Smaller font size */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navigate-button:hover {
  background-color: #45a049;
  transform: translateY(-2px); /* Slight lift effect on hover */
}


/* Add this CSS to style the modal */
.user-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.user-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.user-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.user-modal-close:hover,
.user-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#locationForm {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#locationForm h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

#locationForm label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}

#locationForm input[type="text"],
#locationForm textarea,
#locationForm input[type="file"],
#locationForm input[type="number"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

#locationForm input[type="radio"] {
  margin-right: 10px;
}

#locationForm button {
  width: calc(50% - 10px);
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#locationForm button:last-child {
  background-color: #f44336;
}

#locationForm button:hover {
  background-color: #45a049;
}

#locationForm button:last-child:hover {
  background-color: #e53935;
}


/* before */