<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shlaiman Finder{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main.index') }}">Home</a></li>
            <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
            {% if current_user.is_authenticated and current_user.superuser %}
                <li><a href="{{ url_for('main.superuser') }}">Superuser</a></li>
            {% endif %}
            <li><a href="{{ url_for('main.location') }}">Location</a></li>
            <li><a href="{{ url_for('main.map_view') }}">Maps</a></li>
            <li><a href="{{ url_for('main.friends') }}">Friends in Group</a></li>
            <li><a href="{{ url_for('main.join_group') }}">Join Group</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
        </ul>
    </nav>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
