<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Shlaiman Finder{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='dark-mode.css') }}" id="dark-mode-stylesheet" disabled>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <ul>{% if current_user.is_authenticated  %}
                <button id="home-btn"><a href="{{ url_for('main.index') }}">Home</a></button>
                <button id="profile-btn"><a href="{{ url_for('main.profile') }}">Profile</a></button>
                {% if current_user.is_authenticated and current_user.superuser %}
                    <button id="superuser-btn"><a href="{{ url_for('main.superuser') }}">Superuser</a></button>
                    <button id="location-btn"><a href="{{ url_for('main.location') }}">Test Location</a></button>
                {% endif %}
                
                <button id="map-view-btn"><a href="{{ url_for('main.map_view') }}">Maps</a></button>
                <button id="join-group-btn"><a href="{{ url_for('main.shows') }}">Shows</a></button>
                <button id="friends-btn"><a href="{{ url_for('main.friends') }}">Friends in Group</a></button>
                <button id="join-group-btn"><a href="{{ url_for('main.join_group') }}">Join Group</a></button>
                <button id="dark-mode-toggle">Toggle Dark Mode</button>
                <!--<button id="cycleMapModeButton" onclick="cycleMapMode()">Cycle Map Mode</button>-->
                <button id="logout-btn"><a href="{{ url_for('auth.logout') }}">Logout</a></button>
                <script src="{{ url_for('static', filename='scripts.js') }}"></script>
            {% endif %}
        </ul>
    </nav>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>
