{% extends "base.html" %}

{% block title %}Join Group{% endblock %}

{% block content %}
<h1>Join a Group</h1>
<form method="POST" action="{{ url_for('general_bp.join_group') }}">
    {{ form.hidden_tag() }}
    <div>
        {{ form.passcode.label }}<br>
        {{ form.passcode(size=32) }}<br>
        {% for error in form.passcode.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
        {% endfor %}
    </div>
    <div>
        {{ form.submit() }}
    </div>
</form>
{% endblock %}
