{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="wrapper fadeInDown">
  <div id="formContent">
    <h2 class="active"> Reset Password </h2>

    <form method="POST" action="{{ url_for('auth.reset_password', token=token) }}">
      <input type="password" class="fadeIn second" name="password" placeholder="New Password" required>
      <input type="password" class="fadeIn third" name="confirm_password" placeholder="Confirm Password" required>
      <input type="submit" class="fadeIn fourth" value="Reset Password">
    </form>
  </div>
</div>
{% endblock %}
