{% extends "base.html" %}

{% block title %}ShlaimanFinder - Shows{% endblock %}

{% block content %}
<div class="date-buttons">
    <button class="button" data-date="2024-06-27">June 27</button>
    <button class="button" data-date="2024-06-28">June 28</button>
    <button class="button" data-date="2024-06-29">June 29</button>
    <button class="button" data-date="2024-06-30">June 30</button>
</div>
<div class="timetable">
    <!-- Stages and shows will be dynamically added here by JavaScript -->
</div>
<script src="{{ url_for('static', filename='shows.js') }}"></script>
<script src="{{ url_for('static', filename='storage.js') }}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Fetch friends' locations and shows when the page loads
        fetchFriendsLocations();
        fetchShows();
    });
</script>
{% endblock %}

