{% extends "base.html" %}

{% block title %}Soundboard{% endblock %}

{% block head %}
<style>
    .play-button {
        background-color: red;
        color: white;
        border: none;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.1s;
    }

    .play-button:active {
        background-color: darkred;
        transform: scale(0.95);
    }

    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>
{% endblock %}

{% block content %}
<h1>Soundboard</h1>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="soundFile" name="file" accept=".wav, .mp3, .ogg">
    <button type="submit">Upload Sound</button>
</form>

<h2>Select a sound</h2>
<div id="soundButtons">
    {% for sound in sounds %}
        <button class="play-button" data-sound="{{ sound }}">{{ sound }}</button>
        <audio id="{{ sound }}" src="{{ url_for('static', filename='sounds/' ~ sound) }}" preload="auto"></audio>
    {% endfor %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const buttons = document.querySelectorAll('.play-button');
    buttons.forEach(button => {
        button.addEventListener('click', function() {
            const sound = this.getAttribute('data-sound');
            const audioPlayer = document.getElementById(sound);
            audioPlayer.currentTime = 0; // Reset the playback time to start from the beginning
            audioPlayer.play();
        });
    });
    

    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData();
        const fileInput = document.getElementById('soundFile');
        formData.append('file', fileInput.files[0]);

        fetch('{{ url_for("soundboard_bp.upload_sound") }}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            location.reload(); // Reload the page to update the list of sounds
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
</script>
{% endblock %}