{% extends "base.html" %}

{% block title %}Soundboard{% endblock %}

{% block head %}
<style>
    body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    h1, h2, form {
        text-align: center;
    }

    #soundButtons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    .sound-button {
        background-color: rgb(222, 48, 48);
        color: white;
        border: none;
        border-radius: 50%;
        width: 140px;
        height: 140px;
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.1s, box-shadow 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        margin: 3px;  /* Add margin to ensure spacing between buttons */
    }

    .sound-button:hover {
        background-color: rgb(235, 64, 52);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .sound-button:active {
        background-color: rgb(108, 26, 26);
        transform: scale(0.95);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
</style>
{% endblock %}

{% block content %}
<h1>Soundboard</h1>

<form id="uploadForm" enctype="multipart/form-data">
    <input type="file" id="soundFile" name="file" accept=".wav, .mp3, .ogg">
    <button type="submit">Upload Sound</button>
</form>

<h2>Select a sound</h2>
<div id="soundButtons">
    {% for sound in sounds %}
        <button class="sound-button" data-sound="{{ sound }}">{{ sound }}</button>
        <audio id="{{ sound }}" src="{{ url_for('static', filename='sounds/' ~ sound) }}" preload="auto"></audio>
    {% endfor %}
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    let currentlyPlayingAudio = null;
    const buttons = document.querySelectorAll('.sound-button');
    buttons.forEach(button => {
        button.addEventListener('click', function() {
            const sound = this.getAttribute('data-sound');
            const audioPlayer = document.getElementById(sound);
            if (currentlyPlayingAudio && currentlyPlayingAudio !== audioPlayer) {
                currentlyPlayingAudio.pause();
                currentlyPlayingAudio.currentTime = 0; // Reset the playback time
            }

            currentlyPlayingAudio = audioPlayer;
            audioPlayer.currentTime = 0; // Reset the playback time to start from the beginning
            audioPlayer.play();
        });
    });
    

    document.getElementById('uploadForm').addEventListener('submit', function(event) {
        event.preventDefault();
        const formData = new FormData();
        const fileInput = document.getElementById('soundFile');
        formData.append('file', fileInput.files[0]);

        fetch('{{ url_for("soundboard_bp.upload_sound") }}', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            location.reload(); // Reload the page to update the list of sounds
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
});
</script>
{% endblock %}